#map_space {
	height: 600px;
	width: 50%;
	background-color: LightBlue;
	border: 2px solid black;
}

#map_space2 {
	height: 600px;
	width: 50%;
	background-color: LightBlue;
	border: 2px solid black;
}

#map_space3 {
	height: 600px;
	width: 50%;
	background-color: LightBlue;
	border: 2px solid black;
}

#map_space4 {
	height: 600px;
	width: 50%;
	background-color: LightBlue;
	border: 2px solid black;
}

.map {
	height: 600px;
	width: 50%;
	background-color: LightBlue;
	border: 2px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f1f1f1;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

h1 {
	text-align: center;
	color: #254D6B;
}

b{
	color: #254D6B;
}

/* spinning earth */
.earth {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top:300px;
  margin-left:500px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

.earth:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

.earth > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTQ1MTkzNDhf?inline=1);
  /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
  background-size: cover;
}
@keyframes spin {
  to {
    transform: translateX(-50%);
  }
}



